absl-py==0.10.0
astor==0.8.1
certifi==2020.6.20
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
imageio==2.9.0
importlib-metadata==2.0.0
joblib==0.17.0
Keras==2.1.2
Keras-Applications==1.0.8
keras-contrib==2.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.3.1
matplotlib==3.3.2
mock==4.0.2
networkx==2.5
numpy==1.19.2
opencv-contrib-python==3.3.0.10
opt-einsum==3.3.0
pandas==0.25.3
Pillow==7.2.0
pip==21.2.2
pretty-errors==1.2.19
protobuf==3.13.0
pydicom==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.17.2
scikit-learn==0.24.0
scipy==1.5.2
seaborn==0.11.1
setuptools==58.0.4
SimpleITK==2.0.0
six==1.15.0
style==1.1.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tflearn==0.3.2
threadpoolctl==2.1.0
tifffile==2020.9.3
update==0.0.1
Werkzeug==1.0.1
wheel==0.37.1
wrapt==1.13.3
zipp==3.3.0
